#page-topbar, .topnav {
    /* background: linear-gradient(to right, #6a1b9a, #1e88e5); */
    /* background: linear-gradient(to right, #004d40, #00bcd4); */
    /* background: linear-gradient(to right, #3e1c6c, #1f4a76); */
    /* background: linear-gradient(to right, #8e24aa, #ff6f00); */
    /* background: linear-gradient(to right, #6a1b9a, #1e88e5); */
    /* background: linear-gradient(to right, #ff9a9e, #fad0c4, #fad0c4); */
    /* background: linear-gradient(to right, #007bff, #00c6ff); */
    /* background: linear-gradient(to right, #ff4b2b, #ff416c); */
    /* background: linear-gradient(to right, #00bcd4, #9c27b0); */
    /* background: linear-gradient(to right, #283c86, #45a247); */
    background: linear-gradient(to right, #222831, #393e46) !important;
    /* background: linear-gradient(to right, #222831, #004d5b); */
    /* background: linear-gradient(to right, #222831, #1d3557); */
}

/* .bg_color {
    background: linear-gradient(to right, #00bcd4, #9c27b0); 
    /* background: linear-gradient(to right, #222831, #004d5b); 
} */

.sign_up {
    font-size: 15px !important;
    color: rgb(230, 99, 99) !important;
    /* padding: -20px !important; */
}

.sign_up:hover {
    color: rgb(63, 57, 57) !important;
}

.post_card:hover {
    background-color: #794c4c !important;
    padding: 6px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}